## Latihan
### Jawablah pertanyaan-pertanyaan berikut dengan SQL.
1. Tampilkan data customer yg mempunyai opening amount diatas 7000.
2. Tampilkan informasi order yg dilakukan melalui agensi dengan code A003.
3. Tampilkan data customer yg tinggal di New York, Bangalore, Mumbai, dan Torento.
4. Tampilkan informasi customer yang mempunyai payment amount diatas 7000 dan urutkan berdasarkan opening amountnya dari yg terbesar
5. Tampilkan data agensi yang tidak bekerja di london dan memiliki comission lebih dari 0.12

### Import Packages

In [4]:
import sqlite3
import pandas as pd
import os
import shutil

In [5]:
# Setup
if os.path.exists("data_penjualan.db"):
    os.remove("data_penjualan.db")
else:
    print("The file does not exist")

In [6]:
shutil.copyfile("data_penjualan_ori.db", "data_penjualan.db")

'data_penjualan.db'

## Jawaban:
### 1.  Menampilkan data customer yg mempunyai opening amount diatas 7000.

In [7]:
# Menampilkan Semua Data pada Tabel Customer
# Buat Koneksi ke Database
connection = sqlite3.connect('data_penjualan.db')

# Query SQL
result = connection.cursor()
command = "SELECT * FROM customer;"
result.execute(command)
results = result.fetchall(); connection.close();
cols = [column[0] for column in result.description]
results_data = pd.DataFrame.from_records(results, columns = cols)
results_data

,CUST_CODE,CUST_NAME,CUST_CITY,WORKING_AREA,CUST_COUNTRY,GRADE,OPENING_AMT,RECEIVE_AMT,PAYMENT_AMT,OUTSTANDING_AMT,PHONE_NO,AGENT_CODE
0,C00001,Micheal,New York,New York,USA,2,3000.0,5000.0,2000.0,6000.0,CCCCCCC,A008
1,C00002,Bolt,New York,New York,USA,3,5000.0,7000.0,9000.0,3000.0,DDNRDRH,A008
2,C00003,Martin,Torento,Torento,Canada,2,8000.0,7000.0,7000.0,8000.0,MJYURFD,A004
3,C00004,Winston,Brisban,Brisban,Australia,1,5000.0,8000.0,7000.0,6000.0,AAAAAAA,A005
4,C00005,Sasikant,Mumbai,Mumbai,India,1,7000.0,11000.0,7000.0,11000.0,147-25896312,A002
5,C00006,Shilton,Torento,Torento,Canada,1,10000.0,7000.0,6000.0,11000.0,DDDDDDD,A004
6,C00007,Ramanathan,Chennai,Chennai,India,1,7000.0,11000.0,9000.0,9000.0,GHRDWSD,A010
7,C00008,Karolina,Torento,Torento,Canada,1,7000.0,7000.0,9000.0,5000.0,HJKORED,A004
8,C00009,Ramesh,Mumbai,Mumbai,India,3,8000.0,7000.0,3000.0,12000.0,Phone No,A002
9,C00010,Charles,Hampshair,Hampshair,UK,3,6000.0,4000.0,5000.0,5000.0,MMMMMMM,A009
10,C00011,Sundariya,Chennai,Chennai,India,3,7000.0,11000.0,7000.0,11000.0,PPHGRTS,A010
11,C00012,Steven,San Jose,San Jose,USA,1,5000.0,7000.0,9000.0,3000.0,KRFYGJK,A012
12,C00013,Holmes,London,London,UK,2,6000.0,5000.0,7000.0,4000.0,BBBBBBB,A003
13,C00014,Rangarappa,Bangalore,Bangalore,India,2,8000.0,11000.0,7000.0,12000.0,AAAATGF,A001
14,C00015,Stuart,London,London,UK,1,6000.0,8000.0,3000.0,11000.0,GFSGERS,A003
15,C00016,Venkatpati,Bangalore,Bangalore,India,2,8000.0,11000.0,7000.0,12000.0,JRTVFDD,A007
16,C00017,Srinivas,Bangalore,Bangalore,India,2,8000.0,4000.0,3000.0,9000.0,AAAAAAB,A007
17,C00018,Fleming,Brisban,Brisban,Australia,2,7000.0,7000.0,9000.0,5000.0,NHBGVFC,A005
18,C00019,Yearannaidu,Chennai,Chennai,India,1,8000.0,7000.0,7000.0,8000.0,ZZZZBFV,A010
19,C00020,Albert,New York,New York,USA,3,5000.0,7000.0,6000.0,6000.0,BBBBSBB,A008
20,C00021,Jacks,Brisban,Brisban,Australia,1,7000.0,7000.0,7000.0,7000.0,WERTGDF,A005
21,C00022,Avinash,Mumbai,Mumbai,India,2,7000.0,11000.0,9000.0,9000.0,113-12345678,A002
22,C00023,Karl,London,London,UK,0,4000.0,6000.0,7000.0,3000.0,AAAABAA,A006
23,C00024,Cook,London,London,UK,2,4000.0,9000.0,7000.0,6000.0,FSDDSDF,A006
24,C00025,Ravindran,Bangalore,Bangalore,India,2,5000.0,7000.0,4000.0,8000.0,AVAVAVA,A011

#### Data customer yg mempunyai opening amount diatas 7000:

In [9]:
# Buat Koneksi ke Database
connection = sqlite3.connect('data_penjualan.db')

# Query SQL
result = connection.cursor()
command = "SELECT * FROM customer WHERE OPENING_AMT > '7000';"

# Eksekusi Query SQL
result.execute(command)

# Menampilkan Hasil Dalam Bentuk DataFrame
results = result.fetchall(); connection.close();
cols = [column[0] for column in result.description]
results_data = pd.DataFrame.from_records(results, columns = cols)
results_data

,CUST_CODE,CUST_NAME,CUST_CITY,WORKING_AREA,CUST_COUNTRY,GRADE,OPENING_AMT,RECEIVE_AMT,PAYMENT_AMT,OUTSTANDING_AMT,PHONE_NO,AGENT_CODE
0,C00003,Martin,Torento,Torento,Canada,2,8000.0,7000.0,7000.0,8000.0,MJYURFD,A004
1,C00006,Shilton,Torento,Torento,Canada,1,10000.0,7000.0,6000.0,11000.0,DDDDDDD,A004
2,C00009,Ramesh,Mumbai,Mumbai,India,3,8000.0,7000.0,3000.0,12000.0,Phone No,A002
3,C00014,Rangarappa,Bangalore,Bangalore,India,2,8000.0,11000.0,7000.0,12000.0,AAAATGF,A001
4,C00016,Venkatpati,Bangalore,Bangalore,India,2,8000.0,11000.0,7000.0,12000.0,JRTVFDD,A007
5,C00017,Srinivas,Bangalore,Bangalore,India,2,8000.0,4000.0,3000.0,9000.0,AAAAAAB,A007
6,C00019,Yearannaidu,Chennai,Chennai,India,1,8000.0,7000.0,7000.0,8000.0,ZZZZBFV,A010

### 2. Menampilkan informasi order yg dilakukan melalui agensi dengan code A003
#### Menampilkan semua data pada tabel orders

In [11]:
# Buat Koneksi ke Database
connection = sqlite3.connect('data_penjualan.db')

# Query SQL
result = connection.cursor()
command = "SELECT * FROM orders;"

# Eksekusi Query SQL
result.execute(command)

# Tampilkan Hasil dalam Bentuk DataFrame
results = result.fetchall(); connection.close();
cols = [column[0] for column in result.description]
results_data = pd.DataFrame.from_records(results, columns = cols)
results_data

,ORD_NUM,ORD_AMOUNT,ADVANCE_AMOUNT,ORD_DATE,CUST_CODE,AGENT_CODE,ORD_DESCRIPTION
0,200100,1000.0,600.0,,C00013,A003,SOD
1,200101,3000.0,1000.0,,C00001,A008,SOD
2,200102,2000.0,300.0,,C00012,A012,SOD
3,200103,1500.0,700.0,,C00021,A005,SOD
4,200104,1500.0,500.0,,C00006,A004,SOD
5,200105,2500.0,500.0,,C00025,A011,SOD
6,200106,2500.0,700.0,,C00005,A002,SOD
7,200107,4500.0,900.0,,C00007,A010,SOD
8,200108,4000.0,600.0,,C00008,A004,SOD
9,200109,3500.0,800.0,,C00011,A010,SOD
10,200110,3000.0,500.0,,C00019,A010,SOD
11,200111,1000.0,300.0,,C00020,A008,SOD
12,200112,2000.0,400.0,,C00016,A007,SOD
13,200113,4000.0,600.0,,C00022,A002,SOD
14,200114,3500.0,2000.0,,C00002,A008,SOD
15,200116,500.0,100.0,,C00010,A009,SOD
16,200117,800.0,200.0,,C00014,A001,SOD
17,200118,500.0,100.0,,C00023,A006,SOD
18,200119,4000.0,700.0,,C00007,A010,SOD
19,200120,500.0,100.0,,C00009,A002,SOD
20,200121,1500.0,600.0,,C00008,A004,SOD
21,200122,2500.0,400.0,,C00003,A004,SOD
22,200123,500.0,100.0,,C00022,A002,SOD
23,200124,500.0,100.0,,C00017,A007,SOD
24,200125,2000.0,600.0,,C00018,A005,SOD
25,200126,500.0,100.0,,C00022,A002,SOD
26,200127,2500.0,400.0,,C00015,A003,SOD
27,200128,3500.0,1500.0,,C00009,A002,SOD
28,200129,2500.0,500.0,,C00024,A006,SOD
29,200130,2500.0,400.0,,C00025,A011,SOD
30,200131,900.0,150.0,,C00012,A012,SOD
31,200133,1200.0,400.0,,C00009,A002,SOD
32,200134,4200.0,1800.0,,C00004,A005,SOD
33,200135,2000.0,800.0,,C00007,A010,SOD

#### Menampilkan informasi order yg dilakukan melalui agensi dengan code A003

In [12]:
# Buat Koneksi ke Database
connection = sqlite3.connect('data_penjualan.db')

# Query SQL
result = connection.cursor()
command = "SELECT * FROM orders WHERE AGENT_CODE = 'A003';"

# Eksekusi Query SQL
result.execute(command)

# Menampilkan Hasil Dalam Bentuk DataFrame
results = result.fetchall(); connection.close();
cols = [column[0] for column in result.description]
results_data = pd.DataFrame.from_records(results, columns = cols)
results_data

,ORD_NUM,ORD_AMOUNT,ADVANCE_AMOUNT,ORD_DATE,CUST_CODE,AGENT_CODE,ORD_DESCRIPTION
0,200100,1000.0,600.0,,C00013,A003,SOD
1,200127,2500.0,400.0,,C00015,A003,SOD

### 3. Menampilkan data customer yg tinggal di New York, Bangalore, Mumbai, dan Torento

In [13]:
# Buat Koneksi ke Database
connection = sqlite3.connect ('data_penjualan.db')

# Query SQL
result = connection.cursor()
command = "SELECT * FROM customer WHERE CUST_CITY IN ('New York', 'Bangalore', 'Mumbai', 'Torento');"

# Eksekusi Query SQL
result.execute(command)

# Menampilkan Hasil Dalam Bentuk DataFrame
results = result.fetchall(); connection.close();
cols = [column[0] for column in result.description]
results_data = pd.DataFrame.from_records(results, columns = cols)
results_data

,CUST_CODE,CUST_NAME,CUST_CITY,WORKING_AREA,CUST_COUNTRY,GRADE,OPENING_AMT,RECEIVE_AMT,PAYMENT_AMT,OUTSTANDING_AMT,PHONE_NO,AGENT_CODE
0,C00001,Micheal,New York,New York,USA,2,3000.0,5000.0,2000.0,6000.0,CCCCCCC,A008
1,C00002,Bolt,New York,New York,USA,3,5000.0,7000.0,9000.0,3000.0,DDNRDRH,A008
2,C00003,Martin,Torento,Torento,Canada,2,8000.0,7000.0,7000.0,8000.0,MJYURFD,A004
3,C00005,Sasikant,Mumbai,Mumbai,India,1,7000.0,11000.0,7000.0,11000.0,147-25896312,A002
4,C00006,Shilton,Torento,Torento,Canada,1,10000.0,7000.0,6000.0,11000.0,DDDDDDD,A004
5,C00008,Karolina,Torento,Torento,Canada,1,7000.0,7000.0,9000.0,5000.0,HJKORED,A004
6,C00009,Ramesh,Mumbai,Mumbai,India,3,8000.0,7000.0,3000.0,12000.0,Phone No,A002
7,C00014,Rangarappa,Bangalore,Bangalore,India,2,8000.0,11000.0,7000.0,12000.0,AAAATGF,A001
8,C00016,Venkatpati,Bangalore,Bangalore,India,2,8000.0,11000.0,7000.0,12000.0,JRTVFDD,A007
9,C00017,Srinivas,Bangalore,Bangalore,India,2,8000.0,4000.0,3000.0,9000.0,AAAAAAB,A007
10,C00020,Albert,New York,New York,USA,3,5000.0,7000.0,6000.0,6000.0,BBBBSBB,A008
11,C00022,Avinash,Mumbai,Mumbai,India,2,7000.0,11000.0,9000.0,9000.0,113-12345678,A002
12,C00025,Ravindran,Bangalore,Bangalore,India,2,5000.0,7000.0,4000.0,8000.0,AVAVAVA,A011

### 4. Menampilkan informasi customer yang mempunyai payment amount diatas 7000 dan urutkan berdasarkan opening amountnya dari yg terbesar

In [15]:
# Buat Koneksi ke Database
connection = sqlite3.connect('data_penjualan.db')

# Query SQL
result = connection.cursor()
command = "SELECT * FROM customer WHERE PAYMENT_AMT > '7000' ORDER BY OPENING_AMT DESC;"

# Eksekusi Query SQL
result.execute(command)

# Menampilkan Hasil Dalam Bentuk DataFrame
results      = result.fetchall();connection.close();
cols         = [column[0] for column in result.description]
results_data = pd.DataFrame.from_records(results, columns = cols)
results_data

,CUST_CODE,CUST_NAME,CUST_CITY,WORKING_AREA,CUST_COUNTRY,GRADE,OPENING_AMT,RECEIVE_AMT,PAYMENT_AMT,OUTSTANDING_AMT,PHONE_NO,AGENT_CODE
0,C00007,Ramanathan,Chennai,Chennai,India,1,7000.0,11000.0,9000.0,9000.0,GHRDWSD,A010
1,C00008,Karolina,Torento,Torento,Canada,1,7000.0,7000.0,9000.0,5000.0,HJKORED,A004
2,C00018,Fleming,Brisban,Brisban,Australia,2,7000.0,7000.0,9000.0,5000.0,NHBGVFC,A005
3,C00022,Avinash,Mumbai,Mumbai,India,2,7000.0,11000.0,9000.0,9000.0,113-12345678,A002
4,C00002,Bolt,New York,New York,USA,3,5000.0,7000.0,9000.0,3000.0,DDNRDRH,A008
5,C00012,Steven,San Jose,San Jose,USA,1,5000.0,7000.0,9000.0,3000.0,KRFYGJK,A012

### 5. Menampilkan data agensi yang tidak bekerja di london dan memiliki comission lebih dari 0.12

#### Menampilkan semua data pada tabel agents

In [17]:
# Buat Koneksi ke Database
connection = sqlite3.connect('data_penjualan.db')

# Query SQL
result = connection.cursor()
command = "SELECT * FROM agents;"

# Eksekusi Query SQL
result.execute(command)

# Tampilkan Hasil dalam Bentuk DataFrame
results = result.fetchall(); connection.close();
cols = [column[0] for column in result.description]
results_data = pd.DataFrame.from_records(results, columns = cols)
results_data

   AGENT_CODE  AGENT_NAME WORKING_AREA  COMMISSION      PHONE_NO COUNTRY
0        A001    Subbarao    Bangalore        0.14  077-12346674
1        A002      Mukesh       Mumbai        0.11  029-12358964
2        A003       Alex        London        0.13  075-12458969
3        A004        Ivan      Torento        0.15  008-22544166
4        A005    Anderson      Brisban        0.13  045-21447739
5        A006       McDen       London        0.15  078-22255588
6        A007  Ramasundar    Bangalore        0.15  077-25814763
7        A008      Alford     New York        0.12  044-25874365
8        A009    Benjamin    Hampshair        0.11  008-22536178
9        A010  Santakumar      Chennai        0.14  007-22388644
10       A011  Ravi Kumar    Bangalore        0.15  077-45625874
11       A012      Lucida     San Jose        0.12  044-52981425

#### Menampilkan data agensi yang tidak bekerja di london dan memiliki comission lebih dari 0.12

In [18]:
# Buat Koneksi ke Database
connection = sqlite3.connect('data_penjualan.db')

# Membuat Query SQL
result = connection.cursor()
command = "SELECT * FROM agents WHERE WORKING_AREA NOT IN ('London') AND COMMISSION > '0.12';"

# Eksekusi Query SQL
result.execute(command)

# Menampilkan Hasil Dalam Bentuk DataFrame
results      = result.fetchall();connection.close();
cols         = [column[0] for column in result.description]
results_data = pd.DataFrame.from_records(results, columns = cols)

results_data

  AGENT_CODE  AGENT_NAME WORKING_AREA  COMMISSION      PHONE_NO COUNTRY
0       A001    Subbarao    Bangalore        0.14  077-12346674
1       A004        Ivan      Torento        0.15  008-22544166
2       A005    Anderson      Brisban        0.13  045-21447739
3       A007  Ramasundar    Bangalore        0.15  077-25814763
4       A010  Santakumar      Chennai        0.14  007-22388644
5       A011  Ravi Kumar    Bangalore        0.15  077-45625874